<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.bug1024.rpc"/>
    <context:property-placeholder location="classpath:filter.properties"/>

    <bean id="serviceRegistry" class="com.bug1024.rpc.registers.Discovery">
        <constructor-arg name="zkAddress" value="${register.address}"/>
        <constructor-arg name="zkSessionTime" value="${register.sessionTime}"/>
        <constructor-arg name="zkConnectionTime" value="${register.connectionTime}"/>
    </bean>

    <bean id="clientUtil" class="com.bug1024.rpc.client.ClientUtil">
        <constructor-arg name="serviceDiscovery" ref="serviceRegistry" />
    </bean>
</beans>